{% extends 'base_auth.html' %}
{% load static %}
{% block title %}重置密码{% endblock %}

{% block content %}
    <!-- Custom fonts for this template-->
    <link href="{% static 'mode/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'mode/css/sb-admin-2.min.css'%}" rel="stylesheet">

    <div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">重置密码</h1>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field, errors in form.errors.items %}
                                    <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form class="user" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control form-control-user" id="id_new_password1" name="new_password1" placeholder="新密码">
                                    <button class="btn btn-outline-secondary" type="button" id="show-password" aria-label="顯示密碼">
                                        <i class="fas fa-eye" id="eye-icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control form-control-user" id="id_new_password2" name="new_password2" placeholder="确认新密码">
                                    <button class="btn btn-outline-secondary" type="button" id="show-password-confirm" aria-label="顯示密碼">
                                        <i class="fas fa-eye" id="eye-icon-confirm"></i>
                                    </button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">重置密码</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'login' %}">返回登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript-->

    <script src="{% static 'mode/vendor/jquery/jquery.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#show-password').click(function() {
            var x = document.getElementById("id_new_password1");
            if (x.type === "password") {
                x.type = "text";
                $('#eye-icon').removeClass('fa-eye');
                $('#eye-icon').addClass('fa-eye-slash');
            } else {
                x.type = "password";
                $('#eye-icon').removeClass('fa-eye-slash');
                $('#eye-icon').addClass('fa-eye');
            }
        });
        
        $('#show-password-confirm').click(function() {
            var x = document.getElementById("id_new_password2");
            if (x.type === "password") {
                x.type = "text";
                $('#eye-icon-confirm').removeClass('fa-eye');
                $('#eye-icon-confirm').addClass('fa-eye-slash');
            } else {
                x.type = "password";
                $('#eye-icon-confirm').removeClass('fa-eye-slash');
                $('#eye-icon-confirm').addClass('fa-eye');
            }
        });
    });
</script>
    <script src="{% static 'mode/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mode/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'mode/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'mode/js/sb-admin-2.min.js' %}"></script>

{% endblock %}
